#container {
    width: 100%;
    height: 100%;
    background-color: #f66161;
}

.jomhuria {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
}

.hidden {
    display: none !important;
}

#start-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    background-color: #fb6161;
}

#just-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    background-color: #f45050;
}

#logo {
    justify-self: center;
    align-self: center;
}

#header-head {
    font-size: 550%;
}

#header-link {
    color: white;
    text-decoration: none;
}

#basket {
    justify-self: right;
    align-self: center;
    padding-bottom: 6%;

}

#sok {
    justify-self: center;
    align-self: center;
}

#login {
    align-self: center;
    padding-bottom: 4%;
    color: white;
    font-size: 150%;
    text-decoration: none;
}

#hero {
    z-index: 1;
}

#hero-pic {
    width: 100%;
}

#hero-text {
    position: absolute;
    z-index: 10;
    background-color: rgba(249, 105, 105, 0.7);
    border-radius: 10%;
    left: 50%;
    top: 45%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    color: white;
}

#hero-head {
    font-size: 750%;
    margin-bottom: 0;
}

#hero-subhead {
    font-size: 150%;
}

#start-section1,
#start-section2 {
    display: grid;
    grid-template-columns: 1fr 65%;
    margin-top: 5%;
    margin-bottom: 10%;
}

#products1,
#products2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

#start-head {
    justify-self: center;
    padding: 1%;
    color: white;
    font-size: 250%;
    margin-top: 4%;
}

#menu,
#social-media {
    margin-left: 10%;
    padding-left: 5%;
    padding-top: 5%;
    border: 3px solid white;
    border-radius: 10%;
    box-shadow: 6px 6px 6px rgb(242, 164, 164);
    width: 55%;
}

#menu-head,
#socials-head {
    color: white;
    font-size: 200%;
}

#menu-list,
#socials-list {
    display: grid;
    list-style: none;
    padding-left: 1%;
    line-height: 2em;
    letter-spacing: 1.5px;
    font-size: 150%;
    color: white;
    width: 85%;
}

#dog,
#cat,
#all {
    border: 3px solid white;
    margin-bottom: 10%;
    padding-left: 2%;
}

#dog-link,
#cat-link,
#all-link {
    color: white;
    text-decoration: none;
}

#product1,
#product2,
#product3,
#product4 {
    justify-self: center;
    align-content: center;
}

#product1-head,
#product2-head,
#product3-head,
#product4-head,
#dog1-head,
#dog2-head,
#cat1-head,
#cat2-head,
#cat3-head {
    justify-self: center;
    font-size: 180%;
    margin-bottom: 0;
}

#product1-link,
#product2-link,
#product3-link,
#product4-link {
    color: white;
    text-decoration: none;
}

#product1-subhead,
#product2-subhead,
#product3-subhead,
#product4-subhead,
#dog1-subhead,
#dog2-subhead,
#cat1-subhead,
#cat2-subhead,
#cat3-subhead {
    justify-self: center;
    color: white;
    font-size: 150%;
}

#koppel:hover,
#kattbadd:hover,
#leksak:hover,
#beige-matskal:hover,
#dog:hover,
#cat:hover,
#all:hover,
#kattskal:hover {
    transform: scale(1.1);
}

#product1-head:hover,
#product2-head:hover,
#product3-head:hover,
#product4-head:hover,
#dog1-head:hover,
#dog2-head:hover,
#cat1-head:hover,
#cat2-head:hover,
#cat3-head:hover {
    text-decoration: underline;
    color: white;
}

#koppel,
#kattbadd,
#leksak,
#beige-matskal,
#kattskal {
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgb(242, 164, 164);
}

#insta-div,
#FB-div {
    display: grid;
    grid-template-columns: 1fr 80%;
}

#insta,
#FB {
    align-self: center;
    margin-right: 2%;
}

#section1-categories {
    display: grid;
    grid-template-columns: 20% 1fr;
    margin-top: 3%;
}

#categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

#categories-head {
    color: white;
    margin-left: 5%;
    text-align: center;
    align-self: center;
    font-size: 150%;
}

#dog-cate,
#cat-cate,
#all-cate {
    display: grid;
    justify-self: center;
    border: 3px solid white;
    padding: 2%;
    width: 55%;
    font-size: 120%;
}

#dog-products,
#leash-head,
#beigebowl-head,
#cat-products,
#catbowl-head,
#catbed-head,
#cattoy-head,
#yourBasket {
    display: grid;
    text-align: center;
    color: white;
    font-size: 250%;
    margin-top: 4%;
}

#all-dogproducts,
#leash-pictures,
#beigebowl-pictures,
#catbowl-pictures,
#catbed-pictures,
#cattoy-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4%;
}

#all-catproducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4%;
}

#dog-product1,
#cat-product1 {
    display: grid;
    justify-self: right;
    margin-right: 8%;
}

#cat-product2 {
    display: grid;
    justify-self: center;
}


#dog-product2,
#cat-product3 {
    display: grid;
    justify-self: left;
    margin-left: 8%;
}

#koppelbild1,
#matskal1,
#kattskal1,
#kattbadd1,
#leksak1 {
    display: grid;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgb(242, 164, 164);
    justify-self: right;
    margin-right: 4%;
}


#koppelbild2,
#matskal2,
#kattskal2,
#kattbadd2,
#leksak2 {
    display: grid;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgb(242, 164, 164);
    justify-self: left;
    margin-left: 4%;
}

#dogpictures-big,
#beigebowl-big,
#catbowl-big,
#catbed-big,
#cattoy-big {
    display: grid;
    justify-self: center;
    color: white;
    border: 3px solid white;
    background-color: #f66161;
    margin-top: 4%;
    padding: 1%;
    font-size: 120%;
    font-weight: 600;
}


#close-pictures,
#close-pictures2,
#close-pictures3,
#close-pictures4,
#close-pictures5 {
    display: grid;
    justify-self: center;
    color: black;
    border: 1px solid black;
    background-color: #f4c8c8;
    margin-top: 4%;
    padding: 2%;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 1px;
}

#dogpictures-zoom,
#beigebowl-zoom,
#catbowl-zoom,
#catbed-zoom,
#cattoy-zoom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f4c8c8;
    padding: 10%;
    z-index: 20;
}

#inBasket {
    position: fixed;
    width: 80vh;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f54545;
    border: 10px solid white;
    z-index: 20;
}

#leash-video {
    display: grid;
    margin-top: 6%;
    justify-self: center;
}

#product-information {
    display: grid;
    max-width: 65ch;
    text-align: start;
    justify-self: center;
    margin-top: 4%;
    letter-spacing: 1px;
    font-size: 130%;
    color: white;
    font-weight: bold;
}

#shoppingbasket {
    display: grid;
    border: 3px solid white;
    background-color: #f66161;
    color: white;
    font-size: 100%;
    padding: 2%;
    margin-top: 3%;
    width: 35%;
}


#inbasket-text {
    display: grid;
    text-align: center;
    font-size: 180%;
    color: white;
    margin-bottom: 8%;
    margin-top: 15%;
}

#keepShopping {
    display: grid;
    justify-self: center;
    font-size: 150%;
    width: 40%;
    height: 55px;
    border: 3px solid #f5eff1;
    background-color: #f66161;
    color: #f8f1f4;
    margin-bottom: 5%;
}


#toBasket {
    display: grid;
    justify-self: center;
    font-size: 150%;
    width: 40%;
    height: 55px;
    border: 3px solid #f5eff1;
    background-color: #f66161;
    color: #f8f1f4;
}

#basket-items {
    display: grid;
    width: 50%;
    justify-self: center;
    background-color: #ffbbbb;
    box-shadow: 5px 5px 5px rgb(242, 164, 164);
    margin-top: 4%;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
}

#basket-1,
#basket-2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    list-style: none;
    align-content: center;
}

#ba-1,
#ba-2,
#ba-3,
#ba-4,
#ba-5,
#ba-6,
#ba-7,
#ba-8 {
    padding-bottom: 8%;
    border-bottom: 1px solid #f66161;
}

#firstItem,
#secondItem,
#Item-price1,
#Item-price2 {
    justify-self: center;
    color: #f66161;
    font-size: 150%;
}

#papperskorg1,
#papperskorg2 {
    display: grid;
    justify-self: right;
    align-self: center;
    border: 1px solid black;
    border-radius: 10%;
}

#basket-end {
    display: grid;
    width: 50%;
    justify-self: center;
    background-color: #ffbbbb;
    box-shadow: 5px 5px 5px rgb(242, 164, 164);
    margin-top: 4%;
    padding-top: 3%;
    padding-bottom: 6%;
    padding-left: 3%;
    padding-right: 4%;
}


#basket-price {
    display: grid;
    justify-self: center;
    text-align: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4%;
    color: #f66161;
    font-size: 120%;
}


#basket-keepShopping,
#basket-toCheckout {
    display: grid;
    margin-top: 4%;
    margin-left: 6%;
    color: #f66161;
    font-size: 120%;
}

#toCheckout,
#moreShopping {
    display: grid;
    width: 20%;
    color: white;
    background-color: #f66161;
    border: 1px solid white;
    font-size: 100%;
    line-height: 2em;
}

#login-info {
    display: grid;
}

#login-div {
    display: grid;
    grid-template-columns: 40% 1fr;
    justify-content: center;
    margin-top: 3%;
}

#login-text1,
#login-text2,
#login-text3,
#login-text4 {
    max-width: 58ch;
    justify-self: center;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 120%;
    font-weight: 500;
    color: white;
    margin-left: 3%;
}

#djurBilder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    gap: 3%;
}

footer {
    display: grid;
    background-color: #ff3d3d;
    margin-top: 5%;
}

#footer-section {
    justify-self: center;
    text-align: center;
    color: white;
}

#footer-head {
    font-size: 240%;
    margin-bottom: 0;
}

#footer-subhead {
    font-size: 200%;
    margin-top: 0;
}

@media only screen and (max-width: 1720px) {

    #menu,
    #social-media {
        width: 66%;
    }
}

@media only screen and (max-width: 1450px) {

    #start-header,
    #just-header {
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    }

    #menu-head,
    #socials-head {
        font-size: 170%;
    }

    #menu-list,
    #socials-list {
        font-size: 120%;
    }

    #insta-div,
    #FB-div {
        grid-template-columns: 1fr 70%;
    }
}

@media only screen and (max-width: 1300px) {

    #start-header,
    #just-header {
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    }

    #hero-text {
        left: 40%;
        top: 45%;
    }

    #hero-head {
        font-size: 520%;
    }

    #hero-subhead {
        font-size: 120%;
    }

    #dog-cate,
    #cat-cate,
    #all-cate {
        width: 70%;
    }

    #start-section1 {
        grid-template-columns: none;
    }


    #start-section2 {
        grid-template-columns: none;
        display: flex;
        flex-direction: column;
    }

    #menu {
        width: 40%;
        justify-self: center;
        margin-left: 0;
        padding-top: 1%;
    }


    #social-media {
        width: 40%;
        margin-left: 0;
        padding-top: 1%;
        order: 2;
        align-self: center;
        margin-top: 10%;
    }

    #menu-list,
    #socials-list {
        font-size: 135%;
    }

    #products1 {
        margin-top: 10%;
    }


    #products2 {
        order: 1;
    }
}

@media only screen and (max-width: 980px) {

    #start-header,
    #just-header {
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    }

    #header-head {
        font-size: 350%;
        align-self: center;
        justify-self: left;
    }

    #logotyp {
        width: 150px;
        height: 150px;
        margin-top: 3%;
    }

    #login {
        font-size: 120%;
    }

    #hero-text {
        left: 35%;
        top: 25%;
    }

    #hero-head {
        font-size: 450%;
    }

    #hero-subhead {
        font-size: 120%;
    }

    #start-head {
        font-size: 200%;
    }

    #hidden-section {
        display: grid;
        justify-self: center;
        width: 100%;
    }

    #categories-hidden {
        width: 100%;
        list-style: none;
        padding-left: 0;
        justify-self: center;
        text-align: center;
    }

    #head-hidden {
        justify-self: center;
        text-align: center;
        color: white;
        margin: 5%;
        margin-top: 10%;
        font-size: 140%;
        border: 2px solid white;
        width: 30%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    #head-hidden:hover {
        cursor: pointer;
    }

    #dog-hidden,
    #cat-hidden,
    #all-hidden {
        justify-self: center;
        width: 40%;
        margin-bottom: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 2px solid white;
        font-size: 120%;
    }

    #close-menu {
        display: grid;
        justify-self: center;
        margin-bottom: 6%;
        background-color: #f66161;
        border: 1px solid white;
        color: white;
        padding: 1%;
        font-size: 100%;
    }

    #all-dogproducts,
    #leash-pictures,
    #beigebowl-pictures,
    #catbowl-pictures,
    #catbed-pictures,
    #cattoy-pictures {
        grid-template-columns: none;
    }

    #dog-product1 {
        justify-self: center;
        margin-right: 0;
    }

    #dog-product2 {
        justify-self: center;
        margin-left: 0;
        margin-top: 4%;
    }

    #menu,
    #social-media {
        width: 55%;
    }

    #menu-head,
    #socials-head {
        font-size: 155%;
    }

    #menu-list,
    #socials-list {
        font-size: 125%;
    }

    #products1,
    #products2 {
        grid-template-columns: none;
        margin-top: 0;
    }

    #product1 {
        margin-top: 10%;
    }

    #product2,
    #product4 {
        margin-top: 6%;
    }

    #product1-head,
    #product2-head,
    #product3-head,
    #product4-head {
        font-size: 150%;
    }

    #product1-subhead,
    #product2-subhead,
    #product3-subhead,
    #product4-subhead {
        font-size: 130%;
    }
}

@media only screen and (max-width: 750px) {

    #header-head {
        font-size: 300%;
    }

    #basket-bild,
    #sok-bild {
        width: 50px;
        height: 50px;
    }

    #hero-text {
        left: 25%;
        top: 25%;
    }

    #hero-head {
        font-size: 400%;
    }

    #hero-subhead {
        font-size: 110%;
    }

    #head-hidden {
        width: 40%;
        font-size: 120%;
    }

    #dog1-head,
    #dog2-head {
        font-size: 150%;
    }

    #dog1-subhead,
    #dog2-subhead {
        font-size: 120%;
    }
}

@media only screen and (max-width: 600px) {

    #header-head {
        font-size: 220%;
    }

    #logotyp {
        width: 100px;
        height: 100px;
    }

    #login {
        font-size: 90%;
    }

    #basket-bild,
    #sok-bild {
        width: 40px;
        height: 40px;
    }

    #hero-text {
        left: 17%;
        top: 15%;
    }

    #hero-head {
        font-size: 300%;
    }

    #hero-subhead {
        font-size: 100%;
        font-weight: normal;
    }

    #start-head {
        font-size: 150%;
    }

    #head-hidden {
        width: 45%;
    }

    #dog-hidden,
    #cat-hidden,
    #all-hidden {
        width: 45%;
        font-size: 100%;
    }

    #close-menu {
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: 8%;
    }

    #menu,
    #social-media {
        width: 75%;
    }

    #menu-head,
    #socials-head {
        font-size: 130%;
    }

    #menu-list,
    #socials-list {
        font-size: 100%;
    }

    #product1-head,
    #product2-head,
    #product3-head,
    #product4-head {
        font-size: 120%;
    }

    #product1-subhead,
    #product2-subhead,
    #product3-subhead,
    #product4-subhead {
        font-size: 100%;
        font-weight: normal;
    }

}

@media only screen and (max-width: 500px) {

    #start-header,
    #just-header {
        grid-template-columns: 1fr 2fr 1fr 0.5fr 1.5fr;
    }

    #sok {
        margin-left: 50%;
    }

    #login {
        justify-self: center;
    }

    #logotyp {
        width: 75px;
        height: 75px;
    }

    #header-head {
        font-size: 180%;
    }

    #basket-bild,
    #sok-bild {
        width: 30px;
        height: 30px;
    }

    #hero-text {
        left: 32%;
        top: 17%;
    }

    #hero-head {
        font-size: 360%;
    }

    #hero-subhead {
        display: none;
    }
}