#container {
    width: 100%;
    height: 100%;
    background-color: #fb9c9c;
}

.jomhuria {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
}

.hidden {
    display: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    background-color: #f58585;
}

#logo {
    justify-self: center;
    align-self: center;
}

#header-head {
    color: white;
    font-size: 550%;
}

#basket {
    justify-self: right;
    align-self: center;
    padding-bottom: 6%;

}

#sok {
    justify-self: center;
    align-self: center;
}

#login {
    align-self: center;
    padding-bottom: 4%;
    color: white;
    font-size: 150%;
    text-decoration: none;
}

#hero {
    z-index: 1;
}

#hero-pic {
    width: 100%;
}

#hero-text {
    position: absolute;
    z-index: 10;
    background-color: rgba(251, 156, 156, 0.7);
    border-radius: 10%;
    left: 50%;
    top: 45%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    color: white;
}

#hero-head {
    font-size: 750%;
    margin-bottom: 0;
}

#hero-subhead {
    font-size: 150%;
}

#start-section1,
#start-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    margin-bottom: 10%;
}

#start-head {
    justify-self: center;
    padding: 1%;
    color: #f45656;
    font-size: 250%;
    margin-top: 4%;
}

#menu,
#social-media {
    margin-left: 10%;
    padding-left: 5%;
    padding-top: 5%;
    border: 8px solid #f45656;
    width: 55%;
}

#menu-head,
#socials-head {
    color: white;
    font-size: 200%;
}

#menu-list,
#socials-list {
    display: grid;
    list-style: none;
    padding-left: 1%;
    line-height: 2em;
    letter-spacing: 1.5px;
    font-size: 150%;
    color: white;
    width: 85%;
}

#dog,
#cat,
#all {
    border: 3px solid white;
    margin-bottom: 10%;
    padding-left: 2%;
}

#dog-link,
#cat-link,
#all-link {
    color: white;
    text-decoration: none;
}

#product1,
#product2,
#product3,
#product4 {
    justify-self: center;
    align-content: center;
}

#product1-head,
#product2-head,
#product3-head,
#product4-head,
#dog1-head,
#dog2-head,
#cat1-head,
#cat2-head,
#cat3-head {
    justify-self: center;
    font-size: 180%;
    margin-bottom: 0;
}

#product1-link,
#product2-link,
#product3-link,
#product4-link {
    color: #f45656;
    text-decoration: none;
}

#product1-subhead,
#product2-subhead,
#product3-subhead,
#product4-subhead,
#dog1-subhead,
#dog2-subhead,
#cat1-subhead,
#cat2-subhead,
#cat3-subhead,
#firstItem,
#secondItem,
#Item-price1,
#Item-price2 {
    justify-self: center;
    color: #f45656;
    font-size: 150%;
}

#koppel:hover,
#kattbadd:hover,
#leksak:hover,
#beige-matskal:hover,
#dog:hover,
#cat:hover,
#all:hover,
#kattskal:hover {
    transform: scale(1.1);
}

#product1-head:hover,
#product2-head:hover,
#product3-head:hover,
#product4-head:hover,
#dog1-head:hover,
#dog2-head:hover,
#cat1-head:hover,
#cat2-head:hover,
#cat3-head:hover {
    text-decoration: underline;
    color: #f45656;
}

#koppel,
#kattbadd,
#leksak,
#beige-matskal,
#kattskal {
    border: 4px solid #f45656;
}

#insta-div,
#FB-div {
    display: grid;
    grid-template-columns: 1fr 80%;
}

#insta,
#FB {
    align-self: center;
    margin-right: 2%;
}

#section1-categories {
    display: grid;
    grid-template-columns: 20% 1fr;
    margin-top: 3%;
}

#categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

#categories-head {
    color: white;
    margin-left: 5%;
    text-align: center;
    align-self: center;
    font-size: 150%;
}

#dog-cate,
#cat-cate,
#all-cate {
    display: grid;
    justify-self: center;
    border: 3px solid white;
    padding: 2%;
    width: 50%;
    font-size: 120%;
}

#dog-products,
#leash-head,
#beigebowl-head,
#cat-products,
#catbowl-head,
#catbed-head,
#cattoy-head,
#yourBasket {
    display: grid;
    text-align: center;
    color: #f45656;
    font-size: 250%;
    margin-top: 4%;
}

#all-dogproducts,
#leash-pictures,
#beigebowl-pictures,
#catbowl-pictures,
#catbed-pictures,
#cattoy-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4%;
}

#all-catproducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4%;
}

#dog-product1,
#cat-product1 {
    display: grid;
    justify-self: right;
    margin-right: 8%;
}

#cat-product2 {
    display: grid;
    justify-self: center;
}


#dog-product2,
#cat-product3 {
    display: grid;
    justify-self: left;
    margin-left: 8%;
}

#koppelbild1,
#matskal1,
#kattskal1,
#kattbadd1,
#leksak1 {
    display: grid;
    border: 4px solid #f45656;
    justify-self: right;
    margin-right: 4%;
}


#koppelbild2,
#matskal2,
#kattskal2,
#kattbadd2,
#leksak2 {
    display: grid;
    border: 4px solid #f45656;
    justify-self: left;
    margin-left: 4%;
}

#dogpictures-big,
#beigebowl-big,
#catbowl-big,
#catbed-big,
#cattoy-big {
    display: grid;
    justify-self: center;
    color: white;
    border: 3px solid white;
    background-color: #f45656;
    margin-top: 4%;
    padding: 1%;
    font-size: 120%;
    font-weight: 600;
}


#close-pictures,
#close-pictures2,
#close-pictures3,
#close-pictures4,
#close-pictures5 {
    display: grid;
    justify-self: center;
    color: white;
    border: none;
    background-color: #f45656;
    margin-top: 4%;
    padding: 2%;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 1px;
}

#dogpictures-zoom,
#beigebowl-zoom,
#catbowl-zoom,
#catbed-zoom,
#cattoy-zoom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(251, 227, 227);
    padding: 10%;
    z-index: 20;
}

#inBasket {
    position: fixed;
    width: 80vh;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f13737;
    border: 10px solid white;
    z-index: 20;
}

#leash-video {
    display: grid;
    margin-top: 6%;
    justify-self: center;
}

#product-information {
    display: grid;
    max-width: 65ch;
    text-align: start;
    justify-self: center;
    margin-top: 4%;
    letter-spacing: 1px;
    font-size: 130%;
    color: #f45656;
    font-weight: bold;
}

#shoppingbasket {
    display: grid;
    border: 3px solid white;
    background-color: #f45656;
    color: white;
    font-size: 100%;
    padding: 2%;
    margin-top: 3%;
    width: 35%;
}


#inbasket-text {
    display: grid;
    text-align: center;
    font-size: 180%;
    color: white;
    margin-bottom: 8%;
    margin-top: 15%;
}

#keepShopping {
    display: grid;
    justify-self: center;
    font-size: 150%;
    width: 40%;
    height: 55px;
    border: 3px solid #f5eff1;
    background-color: #ef4a5d;
    color: #f8f1f4;
    margin-bottom: 5%;
}


#toBasket {
    display: grid;
    justify-self: center;
    font-size: 150%;
    width: 40%;
    height: 55px;
    border: 3px solid #f5eff1;
    background-color: #ef4a5d;
    color: #f8f1f4;
}

#basket-item1,
#basket-item2 {
    display: grid;
    justify-self: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #f45656;
    width: 30%;
    margin-top: 4%;
    padding: 3%;
}

#login-info {
    display: grid;
}

#login-div {
    display: grid;
    grid-template-columns: 40% 1fr;
    justify-content: center;
    margin-top: 3%;
}

#login-text1,
#login-text2,
#login-text3,
#login-text4 {
    max-width: 58ch;
    justify-self: center;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 110%;
    font-weight: 400;
    color: #d21d1d;
}

#djurBilder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    gap: 3%;
}

footer {
    display: grid;
    background-color: #f45656;
    margin-top: 5%;
}

#footer-section {
    justify-self: center;
    text-align: center;
    color: white;
}

#footer-head {
    font-size: 240%;
    margin-bottom: 0;
}

#footer-subhead {
    font-size: 200%;
    margin-top: 0;
}